{
  "extends": "airbnb-base",
  "rules": {
    "no-console": 0,
    "no-alert": 0,
    "no-unused-expressions": [2, {
      "allowShortCircuit": true
    }],
    "no-underscore-dangle": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "$": true
  },
  "env": {
    "browser": true
  }
}